
<!-- 
<div *ngIf="keywordListData && keywordListData.data.length > 0">

  <div class="mat-elevation-z8 table-responsive" >
      <table mat-table [dataSource]="keywordListData" matSort >

              <!-- Sno Column -->
              <!-- <ng-container matColumnDef="SponsorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SponsorName </th>
                <td mat-cell *matCellDef="let element"> {{element.SponsorName}} </td>
              </ng-container> -->

              <!-- Employee Name Column -->
            
              <!-- <ng-container matColumnDef="SumOfAnnualValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left !important;"> SumOfAnnualValue </th>
                <td mat-cell *matCellDef="let element"> {{element.SumOfAnnualValue}} </td>
              </ng-container>
              <ng-container matColumnDef="CountOfSponsors">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left !important;"> CountOfSponsors </th>
                <td mat-cell *matCellDef="let element"> {{element.CountOfSponsors}} </td>
              </ng-container>

         -->
                <!-- actions -->
              <!-- <ng-container matColumnDef="Actions">
                  <th mat-header-cell *matHeaderCellDef>

                  </th>
              <td mat-cell *matCellDef="let row; let i=index;">
                  <button mat-icon-button color="primary" matTooltip="Edit Item" (click)="editItem(row)"  >
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>

                  <button mat-icon-button color="primary" matTooltip="Delete Item" (click)="deleteItem(row)">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </td>
              </ng-container> 

              <tr mat-header-row *matHeaderRowDef="SponsorsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns:SponsorsDisplayedColumns;"></tr>
            </table>
          </div>
            <mat-paginator [pageSizeOptions]="[5, 10,50,100]" showFirstLastButtons></mat-paginator>
</div> -->
<div echarts [options]="chartOption" class="demo-chart"></div>

<div echarts [options]="chartOption1" class="demo-chart"></div>

<h1>Twitter returned json </h1>
<pre>
  {{twitterData | json}}
</pre>
<h1>Face book returned json </h1>

<pre>
  {{facebookData | json}}
</pre>
<h1>Instagram returned json </h1>
<pre>
  {{instaData | json}}
</pre>

